<head>
  <title>Projectile Motion<title>
</head>
<form method="POST" action="/action">
  <font color="red">With the entered initial velocity, the projectile will not reach the desired final height, please try again</font><br>
  Angle Θ:<br>
  <input type="text" name="angle"><br>
  Inital Height(m):<br>
  <input type="text" name="ih"><br>
  Final Height(m):<br>
  <input type="text" name="fh"><br>
  Inital velocity(m/s):<br>
  <input type="text" name="iv"><br>
  Time Interval(s):<br>
  <input type="text" name="ti"><br>
  <input type="submit" value="Calculate">
  <a href="/home1">Back</a>
</form>
