<head>
  <title> Kinematics </title>
  </head>

<form method="POST" action="/kinact">
  <font color="red">  Fill at least 3 fields or else it will break and it will be your fault. Do good, avoid evil. Respect your elders.</font><br>
  Inital velocity(m/s):<br>
  <input type="text" name="vi"><br>
  Final velocity(m/s):<br>
  <input type="text" name="vf"><br>
  Time:(s)<br>
  <input type="text" name="time"><br>
  Distance:(m)<br>
  <input type="text" name="dist"><br>
  Acceleration:(m/s^2)<br>
  <input type="text" name="acc"><br>
  <input type="submit" value="Calculate">
  <a href="/home1">Back</a>

</form>
