<head>
  <title>Projectile Motion </title>
  </head>

<form method="POST" action="/action">
  Angle Θ:<br>
  <input type="text" name="angle"><br>
  Inital Height(m):<br>
  <input type="text" name="ih"><br>
  Final Height(m):<br>
  <input type="text" name="fh"><br>
  Inital velocity(m/s):<br>
  <input type="text" name="iv"><br>
  Time Interval(s):<br>
  <input type="text" name="ti"><br>
  <input type="submit" value="Calculate"><br>
  <a href="/tickerDirect">Ticker Tape Method</a>
  <a href="/Kin"> Kinematics Equation Solver</a>
  <a href="/momentum"> Momentum Equation Solver</a>
  <a href="/gfs"> Gravitational Fields Solver</a>
  <a href="/efs"> Electrical Force Solver</a>
</form>
