<head>
  <title> Ticker Tape </title>
  </head>
<form method="POST" action="/action">
  Angle Θ:<br>
  <input type="text" name="angle"><br>
  Inital Height(m):<br>
  <input type="text" name="ih"><br>
  Final Height(m):<br>
  <input type="text" name="fh"><br>
  Total X displacment (m):<br>
  <input type="text" name="xdis"><br>
  Number of dots:<br>
  <input type="text" name="dots"><br>
  Time Interval(s):<br>
  <input type="text" name="ti"><br>
  <input type="submit" value="Calculate"><br>
  <a href="/home1">Back</a>
</form>
